<script src="https://unpkg.com/vue@3"></script>
    <div id="app">
        <header>Simple Cauculator</header>
        <div>{{ initValue }}</div>
        <div>
            <template v-for="num in 9">
                <button @click="addNum(num)">{{ num }}</button>
            </template>
            <button @click="addNum(0)">0</button>
            <br>
            <template v-for="operator in operators">
                <button @click="operation(operator)">{{ operator }}</button>
            </template>
            <br>
            <button @click="equal()">reset</button>
            <button @click="equal()">=</button>
        </div>
    </div>
    <script>
        Vue.createApp({
            data() {
                return {
                    initValue: '0',
                    operators: ['+', '-', '*', '/'],
                    savedValue: 0,
                    chooseOperator: ''
                }
            },
            methods: {
                addNum(value) {
                    if (this.initValue === '0') {
                        this.initValue = value;
                    } else {
                        this.initValue += value.toString();
                    }
                },
                operation(operator) {
                    this.savedValue = Number(this.initValue);
                    this.initValue = '0';
                    this.chooseOperator = operator;
                },
                equal() {
                    switch (this.chooseOperator) {
                        case '+':
                            this.initValue = `${this.savedValue + Number(this.initValue)}`;
                            break;
                        case '-':
                            this.initValue = `${this.savedValue - Number(this.initValue)}`;
                            break;
                        case '*':
                            this.initValue = `${this.savedValue * Number(this.initValue)}`;
                            break;
                        case '/':
                            this.initValue = `${this.savedValue / Number(this.initValue)}`;
                            break;
                    }
                },
                clear() {
                    this.initValue = '0',
                        this.savedValue = '0'
                }
            }
        }).mount('#app')
    </script>
